# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
*.pt
Ultralytics/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
